.bg-hero-cta{
  background:
    linear-gradient(135deg, rgba(255, 7, 69, 0.18), transparent 45%),
    linear-gradient(rgba(194, 194, 210, 0.364), rgba(11,11,13,.75)),
    url("../assets/img/img-hero.jpg");
  background-size: auto, auto, cover;
  background-position: center, center, center;
}


.button-cta-hero {
	border: none;
	padding: 10px 40px;
	border-radius: 4px;
	font-weight: 600;
	cursor: pointer;}

	.button-cta-hero_variant{
	background: #fff;
	color: #000;
	}
	.button-cta-hero_primary{
	background: #E8374E;
		color: #fff;
	}
	.color-text-hero{ color:#fff; text-shadow: 0 1px 18px rgba(0,0,0,.45); }
