.product-card {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  background: #fff;
  overflow: hidden;
  margin: 0 auto 30px auto;
  border: #ddbef1 1px solid;
}

.favorite-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 22px;
  color: #ccc;
  cursor: pointer;
}

.favorite-btn.active {
  color: red;
}

.product-image {
  width: 100%;
  height: 250px;
  background: #e5e5e5;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  text-align: center;
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-name {
  font-size: 25px;
  margin-bottom: 10px;
}

.product-meta {
  font-size: 13px;
  color: #666;
  margin: 2px 0;
}

.product-price {
  font-size: 25px;
  font-weight: bold;
  margin: 8px 0;
}

.product-btn {
  width: 100%;
  height: 50px;
  font-size: 20px;
  padding: 8px;
  background: #810fce;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 0%;
  margin-top: auto;

}
