.form-card {
  background: #ffffff;
  padding: 32px;
  border-radius: 8px;
  width: 100%;
}

h2 {
    margin-bottom: 30px;
    text-align: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.form-field label {
  font-weight: 500;
  margin-bottom: 6px;
}

.form-field input,
.form-field select,
.form-field textarea {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.form-button {
  background: #e8374e;
  color: #fff;
  border: none;
  padding: 12px;
  width: 70%;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 24px auto 0;;
}
