.product-detail {
  padding-top: 80px;
}

.product-detail-image {
  width: 80%;
  border-radius: 8px;
}

.product-detail-info {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-detail-info h2 {
  margin-bottom: 16px;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0;
}

.description {
  margin-bottom: 20px;
}

.add-cart-btn {
  background: #e8374e;
  color: #fff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.back-btn {
  background: #e8374e;
  border: none;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}
