.profile-page {
  padding-top: 56px;
}

.profile-sidebar {
  background: #230044;
  color: #fff;
  min-height: calc(100vh - 56px);
  padding: 35px;
}

.profile-user {
  text-align: center;
  margin-bottom: 40px;
  font-size: 23px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto 20px auto;
}

.profile-menu button {
  background: none;
  border: none;
  color: #ccc;
  text-align: left;
  width: 100%;
  padding: 15px 0;
}

.profile-menu button.active {
  color: #a855f7;
  font-weight: 600;
}

.profile-divider {
  border-top: 1px solid rgba(138, 67, 179, 0.356);
  margin: 10px 0;
}

.profile-content {
  padding: 32px;
}

h3 {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .profile-sidebar {
    min-height: auto;
    width: 100%;
  }

  .profile-content {
    padding: 16px;
  }

 .profile-user {
    font-size: 18px;
  }

  .avatar {
    width: 120px;
    height: 120px;
  }
}

