
.app-navbar { 
  background: #FF2E63;
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #e5e5e5;
  z-index: 100;
}

.navbar-container {
  max-width: 1500px;
  margin: 0 auto;
  height: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
   height: 50px;   
  width: auto;
  display: block;
  margin-top:0;
}

.nav-links {
  display: flex;
  gap: 16px;
  margin-left: auto;
}
.nav-links a {
  position: relative;      
  padding-bottom: 10px;    
}

.nav-links a.active::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;    
}


.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.nav-links a.active {
  color: #fff;
  font-weight: 600;
}

.menu-btn {
  display: none;
  font-size: 24px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-top: 1px solid #e5e5e5;
}

.mobile-menu a {
  padding: 16px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #eee;
}

.mobile-menu a.active {
  background: #f3e6ff;
  color: #37E8D1;
}

.logout-btn {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0;
  font-weight: 500;
}

.nav-link-btn {
  background: none;
  border: none;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  padding-bottom: 10px;
}

.cart-link {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #FFD700;
  color: #E8374E;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
}


/* Mobile */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .mobile-menu .cart-link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #333;
  }

  .mobile-menu .cart-badge {
    position: absolute;
    top: 8px;
    right: 0;
  }
}
