.bg-hero-cta{
  background:
    linear-gradient(135deg, #c8ff00, transparent 30%),
    linear-gradient(rgba(11,11,13,.75), rgba(11,11,13,.75)),
    url("../../assets/img/img-hero.jpg");
  background-size: auto, auto, cover;
  background-position: center, center, top;
  background-repeat: no-repeat;
}
.button-cta-hero {
	border: none;
	padding: 10px 40px;
	border-radius: 4px;
	font-weight: 600;
	cursor: pointer;
}
	.button-cta-hero_variant{
	background: #c8ff00;
	color: #000;
	}
		.button-cta-hero_variant:hover{
	background: #DCFF5C;
	color: #000;
	}
	.button-cta-hero_primary{
	background: #810fce;
		color: #fff;
	}
	.button-cta-hero_primary:hover{
	background: #AB41F1;
	color: #fff;
	}
	.color-text-hero{
		color:#fff; 
		text-shadow: 0 1px 18px rgba(0,0,0,.45); 
	}
	.hand-drop{
		height: 200px;
	}
