.bg-stats-banner{
  min-height: clamp(220px, 32vh, 420px);
  display: flex;
  align-items: center;
  background:
    linear-gradient(135deg, #FF2E63, transparent 30%),
    linear-gradient(rgba(0, 0, 0, 0.875), rgba(144, 143, 143, 0.75)),
url("../../assets/img/img-stats.jpg");
;
  background-size: 100% 100%, 100% 100%, cover; 
  background-position: center, center, bottom;
  background-repeat: no-repeat;
}
